# Python
__pycache__/
*.py[cod]
*.sqlite3
*.log
*.env

# Virtual environment
../myvenv/

# VSCode settings
.vscode/

# Migrations (optional)
*/migrations/__pycache__/

settings_local.py

mysite_admin.txt